extends layout

block content
  h1 Push data
  form(action="/api" method="post" name="registerForm")
    label Name
    input(type="text" name="login")
    label Password
    input(type="number" name="pwd")
    button(type="submit" class="btn") Add to list!
    script(src='./javascripts/main.js')
